/* * {
    padding: 0;
    margin: 0;
} */
#menu_text {
    background-color: hsl(0, 68%, 43%);
    color: white;
    text-align: center;
    padding: 30px 50px;
    margin: 0px;
}

nav {
    background-color: hsl(0, 0%, 31%);
    overflow: hidden;
}

nav a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

hr {
    border: 1px solid black;
}

.menu_left {
    float: left;
}
.menu_right {
    float: right;
}

nav a:hover {
    background-color: #919191;
    color:  hsl(0, 68%, 43%);
}

#left_side {
    flex: 30%;
    background-color: rgb(215, 215, 215);
    padding: 10px 20px;
}
#right_side {
    flex: 70%;
    padding: 10px 20px;
}
#flex_container {
    display: flex;
    flex-wrap: nowrap;
}

footer {
    background-color: hsl(0, 3%, 18%);
    color: rgb(255, 255, 255);
    text-align: center;
}
footer > a { 
    color: rgb(255, 255, 255);
    text-decoration: none;
}

table, th,td{
    border: 2px solid;
    text-align: center;
}


#media {
    text-decoration: none;
    color: black;
}

h2 {
    color: rgb(66, 66, 66);
}

.course_item {
    flex: 33%;
    text-align: center;
}
.course_img {
    width: 80%;
}
#course_container {
    display: flex;
    flex-wrap: wrap;
}
.course_tittle { 
    font-size: 150%;
    font-weight: bold;
    padding: 5px 10px;
}
.course_decs { 
    padding: 0px 5px 5px 5px;
}

@media(max-width: 800px) {
    #left_side {
        flex: 100%;
    }
    #right_side {
        flex: 100%;
    }

    #flex_container {
        flex-wrap: wrap;
    }
    .course_item {
        flex: 50%;
    }
   
}

@media(max-width: 400px) {
    #left_side {
        flex: 100%;
    }
    #right_side {
        flex: 100%;
    }

    #flex_container {
        flex-wrap: wrap;
    }
}
